@font-face {
    font-family: 'tangoSans';
    src: url('TangoSans.ttf') format('truetype');


}

@font-face {
    font-family: 'tangoSans_b_i';
    src: url('TangoSans_BoldItalic.ttf') format('truetype');

}

@font-face {
    font-family: 'tangoSans_b';
    src: url('TangoSans_Bold.ttf') format('truetype');

}

@font-face {
    font-family: 'tangoSans_i';
    src: url('TangoSans_Italic.ttf') format('truetype');

}


// @font-face {
//     font-family: 'tango-sans';
//     src: url('tangosans-webfont.woff') format('woff'),
//         url('tangosans-webfont.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;

// }


// @font-face {
//     font-family: 'tango-sans_b';
//     src: url('tangosans_bold-webfont.woff2') format('woff2'),
//         url('tangosans_bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }




// @font-face {
//     font-family: 'tango-sans_bi';
//     src: url('tangosans_bolditalic-webfont.woff2') format('woff2'),
//         url('tangosans_bolditalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }




// @font-face {
//     font-family: 'tangoSans_i';
//     src: url('tangosans_italic-webfont.woff2') format('woff2'),
//         url('tangosans_italic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }