@font-face {
    font-family: 'tangoSans';
    src: url('tangosans-webfont.woff2') format('woff2'),
        url('tangosans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}