@import '../../css-styles/colors.scss';
@import '../../fonts/tango-sans.scss';

.info-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 280px;
    height: 120px;

    &__title {
        font-size: 30px;
        color: $color-battleship-gray;
        border-left: 2px solid $color-imperial-red;
        height: 40px;
        padding-left: 15px;
        font-weight: 500;
    }

    &__content {
        font-size: 16px;
        color: $color-dim-gray;
        padding-left: 15px;
        line-height: 1.2rem;
    }
}