@import '../../css-styles/colors.scss';
@import '../../fonts/montserat.scss';

$color-primary-0: $color-white;
$color-primary-2: $color-dim-gray;

.contact-form-container {
    width: 100%;
    margin: 60px 0px;
    padding: 0px;

    h2 {
        font-size: 25px;
        font-family: 'Geologica', sans-serif;
        font-weight: 600;
        margin: 10px 0px;
        color: $color-primary-0;
    }

    p {
        margin: 5vw 0px;
        color: $color-primary-2;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: justify;
        max-width: 500px;
    }
}

.form-error-message {
    width: 100%;
    border: 1px solid red;
    border-radius: 8px;
    color: red;
    font-weight: 500;
    padding: 10px;
    margin: 30px 0;
}

@media only screen and (min-width: 781px) {
    .contact-form-container {
        width: 100%;

        h2 {
            font-size: 45px;
        }
    }

    .form-error-message {
        width: 60%;
    }
}