@import '../../css-styles/colors.scss';
@import '../../fonts/montserat.scss';

.about-me-card {
    width: 500px;

    &__above-title {
        font-family: 'Geologica', sans-serif;
        font-size: 30px;
        color: $color-dim-gray;
        font-weight: 700;
    }

    &__title {
        font-family: 'Geologica', sans-serif;
        font-size: 45px;
        color: $color-white;
        font-weight: 600;
        line-height: 2.5rem;
        margin-bottom: 35px;
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px; // Adjust the gap between children if needed
        width: 600px;
    }

    &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
}