$color-black: hsl(0, 0%, 0%);
$color-night: hsl(0, 0%, 7%);
$color-eerie-black: hsl(0, 0%, 9%);
$color-dim-gray: hsl(0, 0%, 42%);
$color-battleship-gray: hsl(0, 0%, 61%);
$color-white: hsl(0, 0%, 100%);
$color-white-dim: hsla(0, 0%, 100%, 0.8);
$color-imperial-red: hsl(0, 86%, 60%);
$color-imperial-dark-red: hsl(0, 86%, 40%);