$color-black: hsl(0, 0%, 0%);
$color-night: hsl(0, 0%, 7%);
$color-eerie-black: #171717;
$color-dim-gray: #6b6b6b;
$color-dim-gray-dark: #525252;
$color-battleship-gray: #9c9c9c;
$color-white: hsl(0, 0%, 100%);
$color-white-dim: hsla(0, 0%, 100%, 0.8);
$color-imperial-red: #f14141;
$color-imperial-dark-red: #bf0d0d;
$color-black-background: #111;