@import '../../css-styles/colors.scss';
@import '../../fonts/tango-sans.scss';

.hero-homepage {
    display: flex;
    flex-direction: column;

    &__images {
        position: relative;

        &__hero {
            position: relative;
            z-index: 1;
            width: 80vw;
            margin-left: 15vw;

            img {
                object-fit: cover;
            }
        }

        &__circles {
            position: absolute;
            top: 0;
            left: 20vw;
            width: 100vw;

            img {
                width: 60vw;
                object-fit: contain;
                max-height: 600px;
            }
        }
    }

    &__card {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vw;

        &__title {
            color: $color-white;
            font-family: 'tangoSans', sans-serif;
            font-size: calc(20px + 8vw);
            font-weight: 400;

            @supports (-moz-appearance: none) {
                font-weight: 600;
                /* Specific font weight (700) only for Firefox */
            }
        }

        &__text {
            width: calc(120px + 45vw);
            height: 48px;
            flex-shrink: 0;
            color: $color-white;
            text-align: center;
            font-family: Montserrat;
            font-size: calc(5px + 2.8vw);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: calc(6px + 4vw);
        }
    }
}

@media only screen and (min-width: 720px) {

    .hero-homepage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;

        &__images {
            top: 0;
            right: 0;
            width: 100vw;

            &__hero {
                width: 50vw;
                margin-left: 60vw;

                img {
                    margin-left: -350px;
                    height: 453px;
                }
            }

            &__circles {
                top: 0;
                left: -200px;

                img {
                    width: 100vw;
                    object-fit: contain;
                    height: 453px;
                }
            }
        }

        &__card {
            padding-left: 10vw;
            align-items: start;
            width: 35vw;
            text-align: left;
            height: 30vw;
            z-index: 1;


            &__title {
                font-size: calc(20px + 3.2vw);
            }

            &__text {
                text-align: left;
                font-size: calc(5px + 1vw);
                width: 30vw;
                margin-bottom: calc(4px + 1vw);
                padding-left: 1px;
            }

        }
    }
}

@media only screen and (min-width: 960px) {
    .hero-homepage {
        &__images {
            &__hero {
                img {
                    margin-left: -400px;
                    height: 600px;
                }
            }

            &__circles {
                img {
                    height: 600px;
                    margin-left: 50px;

                }
            }
        }

        &__card {
            &__text {
                margin-bottom: calc(6px + 2vw);
            }
        }
    }
}